* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
}

.ms_riga {
    display: inline-block;
    width: 20%;
    height: 4px;
}

.ms_white {
    background-color: white;
}

.ms_dark-blue {
    background-color: #2C3E50;
}

.ms_green {
    background-color: #1ABC9C;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    color: white;
    background-color: #2C3E50;
}

header .nav-right a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding-right: 10px;
}

header .nav-right .bi-list {
    border: 1px solid white;
    border-radius: 5px;
    color: gray;
}

header .nav-left h1 {
    padding: 0 10px;
    font-size: 20px;
}

header .nav-right li {
    display: inline;
    list-style: none;
}

main {
    padding-top: 100px;
}

#main-banner,
#about {
    background-color: #1ABC9C;
    color: white;
}

#portfolio .portfolio-title h2,
#about .about-title h2 {
    font-size: 30px;
}

#portfolio .portfolio-title,
#contact .contact-title {
    color: #2C3E50;
}

#main-banner .jumbo-content .banner_img {
    width: 250px;
}

#main-banner .jumbo-content h1 {
    font-size: 40px;
}

#portfolio .box-img,
#portfolio .box-img img  {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#portfolio .box-img .ms_layover {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(26, 188, 156, 0.5);
    z-index: 5;
    border-radius: 10px;
}

#portfolio .box-img .ms_layover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

#portfolio .box-img:hover .ms_layover {
    display: block;
}

footer {
    background-color: #3A546D;
    color: white;
}

.ms_footer-bottom {
    background-color: #2C3E50;
}

#contact .contact-form {
    color: #2C3E50;
    font-weight: bold;
}

#contact .contact-form button {
    color: white;
    font-weight: bold;
}


footer [class*="f-item"] {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

footer [class*="f-item"] span:first-child {
    font-size: 18px;
}

footer [class*="f-item"] span:nth-child(2) {
    font-size: 18px;
}

footer [class*="f-item"] .footer-icons i {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

@media screen and (min-width: 768px) {
    header .nav-left h1 {
        font-size: 30px;
    }

    #main-banner .jumbo-content h1 {
        font-size: 60px;
    }

    #main-banner .jumbo-content .ms_jumbo-bottom {
        font-size: 25px;
    }

    #portfolio .portfolio-title h2,
    #about .about-title h2,
    #contact .contact-title h2 {
        font-size: 45px;
    }
}